.profile {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  margin-top: -80px;
}

.profile p {
  font-size: 24px;
  margin-bottom: 30px;
}

.user-info{
  width: 100;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 5px solid; 
  border-color: rgb(18, 18, 18);
}


.logout-button {
  background-color: #132231; 
  color: #fff; 
  padding: 10px 20px;
  border: 2px solid transparent; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-top: 50px;
}

.logout-button:hover {
  background-color: #ffffff;
  color: black;
  border-color: #132231; 
}
