<div class="scene" id="scene">
    <div class="box" id="funcBox">
        <h1>Funcionamiento</h1>
        <p>Bienvenido a Musica List aca encontraras la listas de las canciones que mas han gustado a la comunidad y con ello
            los generos mas escuchados.<br>
            Para armar esta lista Musica list se basa en un sistema de votaciones donde los usuarios semeanalmente votan
            por la cancion que mas les gusta y nosotros nos encargaremos de mostrar la lista de canciones mas votadas.<br>
            Si quieres votar e iniciar esta aventura solo inicia sesion o resgistrate y haz parte de nustra comunidad
            <br><br>
            !Te esperamos!
        </p>
    </div>
</div>
<div class="scene2" id="scene2">
    <button type="submit" (click)="handleVotarInicio()">Votar!</button>
</div>
