<section class="scene">
  <mat-card class="container1">
    <mat-card-header>
      <mat-card-title>Descubre las últimas canciones de nuestra votación</mat-card-title>

    </mat-card-header>
    <mat-card-footer align="end">
      <button mat-raised-button class="buttonHome">Explora las CANCIONES</button>
    </mat-card-footer>
  </mat-card>

  <mat-card class="container2">
    <mat-card-header>
      <mat-card-title>Descubre los últimos generos de nuestra votación</mat-card-title>

    </mat-card-header>
    <mat-card-footer align="end">
      <button mat-raised-button class="buttonHome">Explora los GENEROS</button>
    </mat-card-footer>
  </mat-card>
</section>
<!--
<div class="scene" id="scene">
  <div class="container">
    <div class="box-container">
      <div class="box" id="cancionesBox">
        <h2>Canciones</h2>

      </div>
    </div>
    <div class="box-container">
      <div class="box" id="generosBox">
        <h2>Géneros</h2>
         Contenido del cuadro de "Géneros"
      </div>
    </div>
  </div>
</div>
-->


