<section class="scene">
  <mat-card class="container1">
    <mat-card-header>
      <mat-card-title>Descubre las últimas canciones de nuestra votación</mat-card-title>

    </mat-card-header>
    <mat-card-footer align="end">
      <button mat-raised-button class="buttonHome" (click)="handleCanciones()">Explora las CANCIONES</button>
    </mat-card-footer>
  </mat-card>

  <mat-card class="container2">
    <mat-card-header>
      <mat-card-title>Descubre los últimos generos de nuestra votación</mat-card-title>

    </mat-card-header>
    <mat-card-footer align="end">
      <button mat-raised-button class="buttonHome" (click)="handleGeneros()">Explora los GENEROS</button>
    </mat-card-footer>
  </mat-card>
</section>