.scene {
  display: flex;
  margin: 4vh;
  flex-direction: column;
  border-radius: 15px; /* Ajusta el valor según tu preferencia */
}


.container1 {
  position: relative;
  margin: 2vh 2vh 5vh;
  display: flex;
  border-radius: 5vh;
  width: 180vh;
  height: 80vh;
  background-image: url('src/assets/imagenes/persona1home.jpg');
  background-size: contain;
  background-position: center;
  background-blend-mode: initial;
}

.container1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black; /* Your desired color */
  border-radius: 5vh; /* Match the container's border-radius */
  opacity: 0.3; /* Adjust the opacity as needed */
}

.container2 {
  position: relative;
  margin: 2vh 20vh 5vh;
  display: flex;
  border-radius: 5vh;
  width: 180vh;
  height: 80vh;
  background-image: url('src/assets/imagenes/persona2home.jpg');
  background-color: black;
  background-size: contain;
  background-position: center;
  background-blend-mode: initial;
}
.container2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black; /* Your desired color */
  border-radius: 5vh; /* Match the container's border-radius */
  opacity: 0.3; /* Adjust the opacity as needed */
}

mat-card-title {
  text-align: center;
  margin: 10vh 12vh;
  padding: 10vh;
  width: 50vh;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 2rem;
  color: #333; /* Adjust text color as needed */
}


.buttonHome {
  padding: 10vh;
  position: absolute;
  font-size: 1rem;
  background-color: #232323;
  color: white;
  bottom: 6vh;
  left: 65%;
  border-radius: 2vh;
}

.canciones-lista {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Ajusta el espacio entre las canciones */
  padding: 20px;
  margin: 10px; /* Añade margen para separar los elementos */
}



.cancion-box {
  width: 300px;
  padding: 20px;
  border-radius: 15px; /* Ajusta el valor según tu preferencia */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  top: -10px;
  background-color: #f4f4f4;
}


.cancion-box:hover {
  transform: scale(1.05);
}

h2 {
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; /* Ajusta el valor según la separación que deseas */
}
.canciones-lista li {
  width: 300px;
  padding: 20px;
  border-radius: 15px; /* Ajusta el valor según tu preferencia */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  top: -10px;
  background-color: #f4f4f4;
  margin-bottom: 20px; /* Ajusta el margen entre las canciones */
}

.canciones-lista li:hover {
  transform: scale(1.05);
}




