.toolbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  position: fixed;
  display: flex;
  bottom: 4vh;
  align-items: center;
  background-color: #132231;
  width: fit-content;
  color: #fff;
  border-radius: 5vh;
  transition: transform 0.3s;
}

.toolbar-content {
  padding: 5vh;
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1; /* Espacio entre grupos de botones */
}


